body
{
    background: #404040;
    
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#stations_wrapper
{
    padding: 50px 0 0;
    margin: 0;

    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

li
{
    width: 20%;

    border-top: 1px solid #343434;

    margin: 0 20px 20px;
    padding: 20px 0;

    text-align: center;
    list-style: none;

    background: #404040;
    transition: all .4s;
}

li:hover
{
    background: #444343;
    border-color: #f54997;
}

li.highlighted
{
    background: #323232;
}

li input,
li label
{
    display: inline-block;
    cursor: pointer;
}

li label
{
    position: relative;
    bottom: 6px;
}

*::selection {
    background:transparent;
}

/* checkbox */
li input
{
    padding: 9px;
    border: 1px solid #cacece;

    position: relative;

    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0px -15px 10px -12px rgba(0, 0, 0, .05);

    -webkit-appearance: none;
    background-color: #fafafa;
    
}

li input:active, li input:checked:active 
{
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 1px 3px rgba(0, 0, 0, .1);
}

li input:checked 
{
    border: 1px solid #adb8c0;
    
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 -15px 10px -12px rgba(0, 0, 0, .05), inset 15px 10px -12px rgba(255, 255, 255, .1);
    background-color: #e9ecee;
    color: #99a1a7;
}

li input:checked:after 
{
    content: '\2714';

    position: absolute;
    top: 0;
    left: 3px;

    font-size: 14px;
    color: #99a1a7;
}
